.pregunta1{
    background-color: rgb(255, 168, 183);
}

.pregunta2{
    background-color: rgb(148, 65, 174);
}

.pregunta3{
    background-color: rgb(34, 34, 252);
}

.pregunta4{
    background-color: rgb(199, 23, 23);
}

.pregunta6{
    background-color: rgb(228, 113, 30);

}

.pregunta7{
    background-color: cyan;
}

.pregunta8{
    background-color: black;
}